@{
    ViewBag.Title = "Kontaktinformationer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Birkeallé 32<br />
    Hakse, 99999<br />
    <abbr title="Telefon">tlf.</abbr>
    123456789
</address>

<address>
    <strong>Almen kontakt:</strong>   <a href="mailto:kontakt@birkealle.dk">Kontakt@birkealle.dk</a><br />
    <strong>Skolelederen:</strong> <a href="mailto:skoleleder@birkealle.dk">Skoleleder@birkealle.dk</a>
</address>