@{
    ViewBag.Title = "IndexView";
}

<h2>Birkeallé ønsker de nye elever velkommen!</h2>

<img src="~/Images/HappySchool.JPG" class="img-responsive" style="align-content: center;"/>


<a href="@Url.Action("Information","Navigation", new { key = "efwefefefw" })">clik ma!</a>