
@{
    ViewBag.Title = "EnrollmentConfirmed";
}

<h2>Indmeldelse modtaget.</h2>

<p>Vi har nu modtaget din indmeldelse og du vil høre fra os på din/jeres oplyste email.</p>
<img src="~/Images/correct.png" class="img-responsive" />