@{
    ViewBag.Title = "En fejl opstod";
}
<h2>En fejl opstod</h2>

<div class="alert alert-danger">
    <h4>Din bruger blev fundet i systemet, men du er ikke sat som forælder. Hvis dette er en fejl skal du kontakte <a href="mailto:skoleleder@birkealle.dk">skolelederen</a>.</h4>
    <a href="../Navigation/GotoLogin">Klik her for at vende tilbage til login-siden.</a>
</div>

